/*Positioning throughout is absolute*/

body {
  font-family: sans-serif;
  text-align: center;
  color: #121212;
}

#title {
  position: absolute;
  top: 0;
  left: 275px;
  margin: 0 auto;
}

.console-info {
  position: absolute;
  height: 80px;
  box-sizing: border-box;
  width: 200px;
  border: 2px solid black;
  text-align: center;
}

/*************************************/
/*From somewhere, these boxes are inheriting a margin of 16
and it is screwing up how the text looks*/

#player1 {
  background-color: #448888;
  /*remember that if you change the color you have to change the color property in js*/
  top: 80px;
  left: 30px;
}

 #die {
   background-color: white;
   top: 80px;
   left: 347.5px;
 }

 #player2 {
   background-color: #b1d46a;
   /*remember that if you change the color you have to change the color property in js*/
   top: 80px;
   left: 670px;
 }

 #start {
   float: left;
 }

 #reset {
   float: right;
 }

 button {

 }

 a {
   color: black;
 }

 /*************************************/


  #establishments {
   position: absolute;
   top: 170px;
   left: 290px;
   margin: 0 auto;
 }

 #establishments-instrux {
   position: absolute;
   top: 205px;
   left: 150px;
   margin: 0 auto;
 }

#destinations {
   position: absolute;
   top: 425px;
   left: 310px;
   margin: 0 auto;
 }

 #destinations-instrux {
   position: absolute;
   top: 460px;
   left: 235px;
   margin: 0 auto;
 }

h1 {
  font-family: 'Sigmar One', cursive;
  letter-spacing: .3em;
}

h2 {
  font-family: 'Sigmar One', cursive;
  letter-spacing: .1em;
}

h3 {
  font-family: 'Sigmar One', cursive;
  font-size: 16px;
  padding: 0;
}

p {
  font-size: 13px;
}

p.num {
  font-size: 13px;
  font-weight: bolder;
}


/*Style the front row of cards*/

.card {
  box-sizing: border-box;
  height: 140px;
  width: 100px;
  border: 2px solid #121212;
  background-color: #e37171;
  position: absolute;
  padding: 5px;
  margin: 20px 20px 0 20px;
}

.purchased {

}

/*Position the top row of destination cards*/

#estA1 {
  left: 30px;
  top: 220px
}

#estA2 {
  left: 175px;
  top: 220px
}

#estA3 {
  left: 320px;
  top: 220px
}

#estA4 {
  left: 465px;
  top: 220px
}

#estA5 {
  left: 610px;
  top: 220px
}

#estA6 {
  left: 755px;
  top: 220px
}

/*Position the top row of destination cards*/

#destA1 {
  left: 30px;
  top: 475px
}

#destA2 {
  left: 175px;
  top: 475px
}

#destA3 {
  left: 320px;
  top: 475px
}

#destA4 {
  left: 465px;
  top: 475px
}

#destA5 {
  left: 610px;
  top: 475px
}

#destA6 {
  left: 755px;
  top: 475px
}


/*Style the back rows of cards*/
.card-behind {
  box-sizing: border-box;
  height: 140px;
  width: 100px;
  border: 2px solid #121212;
  background-color: #bb4242;
  margin: 20px 20px 0 20px;
  z-index: -1;
  position: absolute;
}

/*Position the back row of establishment cards*/
#estB1 {
  left: 10px;
  top: 205px
}

#estB2 {
  left: 155px;
  top: 205px
}

#estB3 {
  left: 300px;
  top: 205px
}

#estB4 {
  left: 445px;
  top: 205px
}

#estB5 {
  left: 590px;
  top: 205px
}

#estB6 {
  left: 735px;
  top: 205px
}

/*Position the back row of destination cards*/
#destB1 {
  left: 10px;
    top: 460px
}

#destB2 {
  left: 155px;
  top: 460px
}

#destB3 {
  left: 300px;
  top: 460px
}

#destB4 {
  left: 445px;
  top: 460px
}

#destB5 {
  left: 590px;
  top: 460px
}

#destB6 {
  left: 735px;
  top: 460px
}

/*Style the info cards*/

.info-card {
  box-sizing: border-box;
  height: 40px;
  width: 100px;
  position: absolute;
  /*padding: 5px;*/
  margin: 0 20px;
}

/*Position the info boxes beneath the destination cards*/

#iest1 {
  left: 30px;
  top: 380px
}

#iest2 {
  left: 175px;
  top: 380px
}

#iest3 {
  left: 320px;
  top: 380px
}

#iest4 {
  left: 465px;
  top: 380px
}

#iest5 {
  left: 610px;
  top: 380px
}

#iest6 {
  left: 755px;
  top: 380px
}


/*Position the info boxes beneath the destination cards*/

#idest1 {
  left: 30px;
  top: 645px
}

#idest2 {
  left: 175px;
  top: 645px
}

#idest3 {
  left: 320px;
  top: 645px
}

#idest4 {
  left: 465px;
  top: 645px
}

#idest5 {
  left: 610px;
  top: 645px
}

#idest6 {
  left: 755px;
  top: 645px
}
